.AboutMe {
    background-color: rgb(217, 217, 217)
}

#main-div{
    width: 80%;
    background-color: white;
    margin: 10px auto;
    padding: 5vh 2vw;
    border-radius: 5px;
    box-shadow: 4px 4px 2px darkslategray ;
}

#title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 0;
}

#subtitle{
    font-family: 'Mulish';
    font-size: 16px;
    margin: 5px 0 30px 20px;
}

#body-div{
    display: flex;
    font-family: 'Mulish';
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
}
img{
    border-radius: 5px;
}

#img{
    height: 100%;
    width: 32vw;
    overflow: hidden;
}

#aboutme-img{
    height: 90vh;
    width: 32vw;
}

#text-div{
    margin-left: 30px;
    width: 43vw;
}

#body-title{
    margin: 5px 0;
}
