.Cover{
    background-image: url('../images/cover.jpg');
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
}

#home-title{
    margin: 0 auto;
    font-size: 50px;
}

#home-menu{
    padding-top: 20px;
}

#title-div{
    color: white;
    height: 100%;
    width: 100%;
    font-size: 2vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.link{
    color: white;
    margin: 0 4vh;
    text-decoration: none;
}

.menu-options li{
    display: inline;
    text-decoration: none;
    font-family: 'Mulish';
}

.current{
    text-decoration: underline;
}


.social-icon{
    padding: 10px;
    color: white;
}

.TopicsBar{
    display: flex;
    background-color: rgba(42, 51, 43, 0.7);
    height: 8vh;
}

.TopicsBar h2{
    color: white;
    position: relative;
    font-family: 'Playfair Display';
    display: flex;
    height: 100%;
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.topic{
    width: 10%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Mulish';
    font-size: 15px;
    font-weight: normal;
}

.topic:hover{
    color: rgb(42, 51, 43);
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}